@media screen and(max-width:1023px) {
    .about {
        padding: 60px 0;
        &__wrap {
            flex-direction: column;
        }
        &__text {
            margin-right: 0;
            order: 2;
            max-width: 100%;
            font-size: 14px;
            line-height: 160%;
        }
        &__img {
            order: 1;
            margin-bottom: 50px;
            width: 300px;
        }
    }
    .photo {
        padding: 60px 0;
        &__text {
            font-size: 12px;
            margin-top: 7px;
            line-height: 120%;
        }
        &__item {
            margin-bottom: 30px;
        }
    }
    .tree {
        padding: 60px 0;
        &__wrapper {
            flex-direction: column;
            justify-content: center;
        }
        &__qr {
            margin-bottom: 30px;
            width: 80%;
        }
        &__content {
            width: 100%;
        }
        &__text {
            margin-left: 0;
        }
    }
}
@media screen and(max-width:767px) {
    .header {
        &__phone {
            font-size: 14px;
        }
        &__contacts {
            &__name {
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
    .logo {
        width: 100px;
        img {
            margin-right: 10px;
        }
    }
    .promo {
        background: url(../img/bg.png) rgba(20, 41, 43, .5) no-repeat center;
        background-blend-mode: multiply;
        background-size: cover;
        .divider {
            display: none;
        }
        &__wrap {
            flex-direction: column;
            top: 0;
        }
        &__description {
            margin-top: 20px;
            text-align: center;
            
        }
        &__h {
            font-size: 48px;
        }
    }
    .btns {
        margin-top: 50px;
    }
    .btn {
        font-size: 12px;
        
    }
    .photo {
        &__item {
            width: 250px;
        }
    }
    .tree {
        &__qr {
            width: 100%;
            .tree__text {
                margin-left: 20px;
            }
        }
        &__text {
            font-size: 12px;
        }
    }
}
@media screen and(max-width:425px) {
    .photo {
        &__wrapper {
            justify-content: center;
        }
    }
}